.custom-dropdown-menu {
    position: relative;
    display: inline-block;
    width: 200px;
}

.custom-dropdown-menu__button {
    width: 100%;
    padding: 10px;
    background-color: rgb(19, 21, 22);
    border: 1px solid rgb(48, 50, 58);
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.custom-dropdown-menu__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    z-index: 1000;
    background-color: rgb(19, 21, 22);
    width: 100%;
}

.custom-dropdown-menu__item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4e4e4e;
    /* padding-right: 50px; */
}

.custom-dropdown-menu__item.selected {
    background-color: #f0f0f041;
}

.custom-dropdown-menu__item:hover {
    background-color: #f0f0f041;
}

.custom-dropdown-menu__item.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
    background-color: transparent;
}

.custom-dropdown-menu__item.disabled:hover {
    background-color: transparent;
}

.custom-dropdown-menu__icon {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-dropdown-menu__icon > img {
    width: 18px;
    height: 18px;
}
