.form-container {
    background-color: rgb(35, 119, 188);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 480px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px 0;
    min-height: 700px;
}
